p {
    width: 80%;
    font-size: 4rem;
}

img {
    width: 800px;
    border: 4px solid black;
}
div{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    display: inline-block;
}
.one{
    background-color: red;
}
.two{
    background-color: blue;
}
.three{
    background-color: yellow;
}
.four{
    background-color: green;
}