form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 4px solid #651456;
}