html, body, div{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 5vw;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height: 500px;
    width: 500px;
    background-color: red;
}
div{
    animation-name: animation;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
@keyframes animation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        background-color: blue;
        border-radius: 100%;
        transform: rotate(180deg);
    }
}
